<head>
      <title>Coders zone dev home</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/nav.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/navbar.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/devhome.css')}}">
</head>
    <audio src="{{ url_for('static', filename='./audio/jellyroll.mp3') }}" autoplay="autoplay" loop="loop"></audio>
    <div id="nav-bar-n">
      <input id="nav-toggle" type="checkbox"/>
      <div id="nav-header"><a id="nav-title" href="https://discord.gg/coders-zone-1233225700962734100" target="_blank">C<i class="fab fa-codepen"></i>DERS ZONE</a>
        <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
        <hr/>
      </div>
      <div id="nav-content">
        <div id="your_work" class="nav-button"><i class="fas fa-palette"></i><span><a href="/notes">Notes</a></span></div>
        <hr/>
        <div class="nav-button"><i class="fas fa-fire"></i><span><a href="/devʕʯʌʇ">Chat with dev name</a></span></div>
        <div class="nav-button"><i class="fas fa-fire"></i><span><a href="/devsʕʯʌʇ">Dev's only chat</a></span></div>
        <div class="nav-button"><i class="fas fa-magic"></i><span><a href="/requests">Requests</a></span></div>
        <hr/>
        <div id="devportal" class="nav-button"><i class="fas fa-gem"></i><span><a href="/dev">Developer portal</a></span></div>
        <div id="exitdev" class="nav-button"><i class="fas fa-gem"></i><span><a href="/">Exit developer mode</a></span></div>
        <div id="nav-content-highlight"></div>
      </div>
      <input id="nav-footer-toggle" type="checkbox"/>
      <div id="nav-footer">
        <div id="nav-footer-heading">
        {% if user.is_authenticated %}
        <a href="/logout">Logout</a>
        <div id="nav-footer-avatar"><img id="pfp" src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"/></div>
        <div id="nav-footer-titlebox"><a id="nav-footer-title" target="_blank">Coder</a><span id="nav-footer-subtitle">Member</span></div>
        {% else %}
        <div id="nav-footer-titlebox"><a id="nav-footer-title" href="/login">Login</a></div>
        <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
    <audio src="{{ url_for('static', filename='./audio/jellyroll.mp3') }}" autoplay="autoplay" loop="loop"></audio>
    <h1 id="title" align="center">Welcome to Coder's zone Dev home!</h1>
    <div align="center">
      <div >
        <img id="avatarIMG" src="{{ url_for('static', filename='./images/MainAvatar.png') }}"></src>
        </div>
    </div>
    <div align="center">
      <div id="temps" align="center">
       <h3>Temp placeholder</h3>
      </div>
      <div id="temps" align="center">
        <h2 id="announcement">Our creator is Gary</h2>
       </div>
       <div id="temps" align="center">
        <h3>Temp placeholder</h3>
       </div>
      <div id="temps" align="center">
        <h2 id="announcement">STILL IN THE MAKING</h2>
      </div>
      <div id="temps" align="center">
        <h3>Temp placeholder</h3>
      </div>
      <div id="temps" align="center">
        <h2 id="announcement">YOU WILL NEED A NEW ACCOUNT IF YOU WISH TO USE THIS</h2>
      </div>
      <div id="temps" align="center">
        <h3>Temp placeholder</h3>
      </div>
      <div id="aboutmeDiv" align="center">
        <h2 id="abtitle">Past connections to the site</h2>
        <section id="aboutMe-box">
          <section id="info-box">
            {% for ip in ips %}
                <p>
                    <span>{{ ip.ip }}</span>> {{ ip.time }}
                </p>
            {% endfor %}
          </section>
        </section>
    </div>
    </div>
  
    <script type="text/javascript" charset="utf-8">
  
    document.addEventListener("DOMContentLoaded", function() {
            // Fetch the IP address from the API
            fetch("https://api.ipify.org?format=json")
                  .then(response => response.json())
                  .then(data => {
                        theIP = data.ip
                        try {
                              if(theIP == '142.114.78.164'){
                                    console.log('IP authorised')
                                    document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                    document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                    document.getElementById('nav-footer-title').textContent='fw.gary'
                              }
                              else if(theIP == '146.75.188.3'){
                                    console.log('IP authorised')
                                    document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                    document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                    document.getElementById('nav-footer-title').textContent='fw.gary'
                              }
                              else if(theIP == '209.29.96.4'){
                                console.log('IP authorised')
                                document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                document.getElementById('nav-footer-title').textContent='fw.gary'
                              }
                              else if(theIP == '78.101.167.102'){
                                    console.log('IP authorised welcome fw.noyx')
                                    document.getElementById('nav-footer-subtitle').textContent='JR DEV'
                                    document.getElementById('pfp').src="{{ url_for('static', filename='./images/Noyxpfp.png') }}"
                                    document.getElementById('nav-footer-title').textContent='fw.noyx'
                              }
                              else{
                                    document.getElementById('devportal').style.visibility ='hidden'
                              }
                        }
                        catch(err){
                            if(err == '401'){
                                console.log('IP address is not whitelisted')
                                let msg = `<@1267528622185381930> ${$theIP} just tried to access dev home page`
                                let nickname = 'DEV ACCESS LOGS'
                                webhook(msg, nickname);
                                alert('You are not whitelisted to view this page') 
                                window.location.href = '/home'
                                return
                            }
                        }
                    })
                    .catch(error => {
                        console.error("Error fetching IP address:", error);
                    });
            });

            function webhook(message, nickname) {
                var hook = new XMLHttpRequest();

                    hook.open('POST', 'https://discord.com/api/webhooks/1285703497995784202/iOdjJBYV2ab9hHIIkILqE8b1hw5_I3ONp2pqE4kIJ8-CAzbpqtX4hE3mRsOjAggUKl5P');

                    hook.setRequestHeader('Content-type', 'application/json');

                    var content = {
                        username: "chat logs",
                        avatar_url: 'https://example.com/profile-icon-for-bot.png',
                        content: `${nickname} - ${message}`
                    }

                    hook.send(JSON.stringify(content));
            }
  
    </script>