<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/nav.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/navbar.css')}}">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
        <meta charset="utf-8">
        <title>Developers chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Gary Kent">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style.css') }}">
    </head>
    <body>
        <audio src="{{ url_for('static', filename='./audio/jellyroll.mp3') }}" autoplay="autoplay" loop="loop"></audio>
        <div id="nav-bar-n">
            <input id="nav-toggle" type="checkbox"/>
            <div id="nav-header"><a id="nav-title" href="https://discord.gg/coders-zone-1233225700962734100" target="_blank">C<i class="fab fa-codepen"></i>DERS ZONE</a>
              <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
              <hr/>
            </div>
            <div id="nav-content">
              <div id="your_work" class="nav-button"><i class="fas fa-palette"></i><span><a href="/notes">Notes</a></span></div>
              <hr/>
              <div class="nav-button"><i class="fas fa-fire"></i><span><a href="/devʕʯʌʇ">Chat with dev name</a></span></div>
              <div class="nav-button"><i class="fas fa-fire"></i><span><a href="/devsʕʯʌʇ">Dev's only chat</a></span></div>
              <div class="nav-button"><i class="fas fa-magic"></i><span><a href="/requests">Requests</a></span></div>
              <hr/>
              <div id="devportal" class="nav-button"><i class="fas fa-gem"></i><span><a href="/dev">Developer portal</a></span></div>
              <div id="exitdev" class="nav-button"><i class="fas fa-gem"></i><span><a href="/">Exit developer mode</a></span></div>
              <div id="nav-content-highlight"></div>
            </div>
            <input id="nav-footer-toggle" type="checkbox"/>
            <div id="nav-footer">
              <div id="nav-footer-heading">
              {% if user.is_authenticated %}
              <a href="/logout">Logout</a>
              <div id="nav-footer-avatar"><img id="pfp" src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"/></div>
              <div id="nav-footer-titlebox"><a id="nav-footer-title" target="_blank">Coder</a><span id="nav-footer-subtitle">Member</span></div>
              {% else %}
              <div id="nav-footer-titlebox"><a id="nav-footer-title" href="/login">Login</a></div>
              <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
              {% endif %}
            </div>
            </div>
          </div>
        </div>
        <h1 id="title">DEV'S ONLY CHAT</h1>
        <section id="chat-box">
            <section id="message-box">
                {% for message in messages %}
                <p>
                    <span>{{ message.nickname }}</span>>> {{ message.message }}
                </p>
                {% endfor %}
            </section>
        
            <section id="input-box">
                <input type="text" autofocus onkeypress="return isPressingEnter(event)" required placeholder="Message" id="message-input">
                <button type="button" id="send-button" onclick="sendMessage()" >>></button>
            </section>
        </section>
        
        <section id="nickname-box">
            <label id="nickname-label" for="nickname-input">Nickname:</label>
            <a id="nickname-input" target="_blank">Coder</a>
        </section>
        <div id="footer">
            <p id="Copyright">Copyright © 2021 fw_gary. All rights reserved.</p>
            <p id="madeBy">Made by fw_gary     <a href="/devʯʘʍʚ"><img id="homeLogo" src="{{ url_for('static', filename='./images/home.png') }}">Home</a></p>
        </div>
        <script type="text/javascript" charset="utf-8">
            const socket = io();

            function webhook(message, nickname) {
                var hook = new XMLHttpRequest();

                    hook.open('POST', 'https://discord.com/api/webhooks/1285703497995784202/iOdjJBYV2ab9hHIIkILqE8b1hw5_I3ONp2pqE4kIJ8-CAzbpqtX4hE3mRsOjAggUKl5P');

                    hook.setRequestHeader('Content-type', 'application/json');

                    var content = {
                        username: "chat logs",
                        avatar_url: 'https://example.com/profile-icon-for-bot.png',
                        content: `${nickname} - ${message}`
                    }

                    hook.send(JSON.stringify(content));
            }

            function badwebhook(message, nickname) {
                var hook = new XMLHttpRequest();

                    hook.open('POST', 'https://discord.com/api/webhooks/1285720783980728383/OzNGKEerfPZ0gQPhOr4MJktKLbKaiP_sHP3mxjY__0A4PgNfvzeq_FvlOj6YcfPle68B');

                    hook.setRequestHeader('Content-type', 'application/json');

                    var content = {
                        username: "bad words log",
                        avatar_url: 'https://example.com/profile-icon-for-bot.png',
                        content: `${nickname} - just tried to say ${message} \n<@1267528622185381930>`
                    }

                    hook.send(JSON.stringify(content));
            }

                socket.on('dev_server_message', (data) => {
                    let e = document.createElement('p');
                    let sp = document.createElement('span');
                    sp.innerHTML = data.nickname;
                    e.appendChild(sp);
                    e.innerHTML = e.innerHTML+'>> '+data.message;

                    if(document.getElementById('message-box').children.length>20){
                        document.getElementById('message-box').removeChild(document.getElementById('message-box').children[0]);
                    }

                    document.getElementById('message-box').appendChild(e);


                    document.getElementById('message-box').scroll(0, document.getElementById('message-box').scrollHeight);
                });

                function htmlEntities(str) {
                                return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
                }

                function sendMessage(){
                    let message = document.getElementById('message-input').value;
                    let nickname = document.getElementById('nickname-input').value;
                    socket.emit('dev_message', {'nickname': htmlEntities(document.getElementById('nickname-input').textContent), 'message':  htmlEntities(document.getElementById('message-input').value)});
                        document.getElementById('message-input').value = '';
                    webhook(message, nickname);
                }


                function isPressingEnter(e){
                    let k;
                    if(window.event){
                        k = e.keyCode;
                        if(k===13){
                            sendMessage();
                        }
                    }else if(e.which){
                        k = e.which;
                        if(k===13){
                            sendMessage();
                        }
                    }
                }

                </script>
        <script type="text/javascript">
            // Scroll to bottom of message box on page load
            document.getElementById('message-box').scrollTop = document.getElementById('message-box').scrollHeight;



            // Scroll to bottom of message box when a new message is received
            socket.on('dev_server_message', (data) => {
                // ... (rest of the code remains the same)
                document.getElementById('message-box').scrollTop = document.getElementById('message-box').scrollHeight;
            });
        </script>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function() {
              // Fetch the IP address from the API
              fetch("https://api.ipify.org?format=json")
                    .then(response => response.json())
                    .then(data => {
                          theIP = data.ip
                                if(theIP == '142.114.78.164'){
                                      console.log('IP authorised')
                                      document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                      document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                      document.getElementById('nav-footer-title').textContent='fw.gary'
                                      document.getElementById('nickname-input').textContent='OWNER fw.gary'
                                }
                                else if(theIP == '146.75.188.3'){
                                      console.log('IP authorised')
                                      document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                      document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                      document.getElementById('nav-footer-title').textContent='fw.gary'
                                      document.getElementById('nickname-input').textContent='OWNER fw.gary'
                                }
                                else if(theIP == '209.29.96.4'){
                                  console.log('IP authorised')
                                  document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                  document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                  document.getElementById('nav-footer-title').textContent='fw.gary'
                                  document.getElementById('nickname-input').textContent='OWNER fw.gary'
                                }
                                else if(theIP == '78.101.167.102'){
                                      console.log('IP authorised welcome fw.noyx')
                                      document.getElementById('nav-footer-subtitle').textContent='JR DEV'
                                      document.getElementById('pfp').src="{{ url_for('static', filename='./images/Noyxpfp.png') }}"
                                      document.getElementById('nav-footer-title').textContent='fw.noyx'
                                      document.getElementById('nickname-input').textContent='JR DEV fw.noyx'
                                }
                                else{
                                      document.getElementById('devportal').style.visibility ='hidden'
                                }
                });
              });

              document.addEventListener("DOMContentLoaded", function() {
            // Fetch the IP address from the API
            fetch("https://api.ipify.org?format=json")
                  .then(response => response.json())
                  .then(data => {
                        theIP = data.ip
                        try {
                              if(theIP == '142.114.78.164'){
                                    console.log('IP authorised')
                                    document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                    document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                    document.getElementById('nav-footer-title').textContent='fw.gary'
                              }
                              else if(theIP == '146.75.188.3'){
                                    console.log('IP authorised')
                                    document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                    document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                    document.getElementById('nav-footer-title').textContent='fw.gary'
                              }
                              else if(theIP == '209.29.96.4'){
                                console.log('IP authorised')
                                document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                document.getElementById('nav-footer-title').textContent='fw.gary'
                              }
                              else if(theIP == '78.101.167.102'){
                                    console.log('IP authorised welcome fw.noyx')
                                    document.getElementById('nav-footer-subtitle').textContent='JR DEV'
                                    document.getElementById('pfp').src="{{ url_for('static', filename='./images/Noyxpfp.png') }}"
                                    document.getElementById('nav-footer-title').textContent='fw.noyx'
                              }
                              else{
                                    document.getElementById('devportal').style.visibility ='hidden'
                              }
                        }
                        catch(err){
                            if(err == '401'){
                                console.log('IP address is not whitelisted')
                                let msg = `<@1267528622185381930> ${$theIP} just tried to access dev home page`
                                let nickname = 'DEV ACCESS LOGS'
                                webhook(msg, nickname);
                                alert('You are not whitelisted to view this page') 
                                window.location.href = '/home'
                                return
                            }
                        }
                    })
                    .catch(error => {
                        console.error("Error fetching IP address:", error);
                    });
            });

            function webhook(message, nickname) {
                var hook = new XMLHttpRequest();

                    hook.open('POST', 'https://discord.com/api/webhooks/1285703497995784202/iOdjJBYV2ab9hHIIkILqE8b1hw5_I3ONp2pqE4kIJ8-CAzbpqtX4hE3mRsOjAggUKl5P');

                    hook.setRequestHeader('Content-type', 'application/json');

                    var content = {
                        username: "chat logs",
                        avatar_url: 'https://example.com/profile-icon-for-bot.png',
                        content: `${nickname} - ${message}`
                    }

                    hook.send(JSON.stringify(content));
            }
            
          </script>
</body>
</html>