{% extends "base.html" %} {% block title %}Gary's Site{% endblock %} {% block content
  %}
  <audio src="{{ url_for('static', filename='./audio/babydoll.mp3') }}" autoplay="autoplay" loop="loop"></audio>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/homeStyle_signed_out.css') }}">
  <h1 id="title" align="center">Welcome to fw_gary's website!</h1>
  <div id="background"></div>
  <div id="Avatar" align="center">
    <div id="avatar">
      <img id="avatar" src="{{ url_for('static', filename='./images/MainAvatar.png') }}" class="rotate"></src>
      </div>
  </div>
  <div>
    <div id="temp" align="center">
      <h3 id="temp">Temp placeholder</h3>
    <div id="songdisk" align="center">
      <img id="song" src="{{ url_for('static', filename='./images/babydoll.png') }}" class="rotate"></src>
    <div id="temp" align="center">
     <h3 id="songName"> Baby doll</h3>
    </div>
    <div id="temps" align="center">
     <h3 id="temps"> Temp placeholder</h3>
    </div>
    <div id="temps" align="center">
      <h2 id="announcement">STILL IN THE MAKING</h2>
    </div>
    <div id="temps" align="center">
     <h3 id="temps"> Temp placeholder</h3>
    </div>
    <div id="temps" align="center">
     <h3 id="temps"> Temp placeholder</h3>
    </div>
    <div id="temps" align="center">
     <h3 id="temps"> Temp placeholder</h3>
    </div>
    <div id="temps" align="center">
     <h3 id="temps"> Temp placeholder</h3>
    </div>
  </div>
  <section id="footer">
   <div>
    <p id="Copyright">Copyright © 2021 fw_gary. All rights reserved.</p>
    <p id="madeBy">Made by fw_gary     <a href="https://discord.gg/FWyMSEJAgW"><img id="discordLogo" src="{{ url_for('static', filename='./images/LogoDiscord.jpg') }}">Discord</a></p>
   </div>
  </section>
  
  {% endblock %}