{% extends "base.html" %} {% block title %}Gary's Site{% endblock %} {% block content
    %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/requests.css') }}">
    <title id="MainTitle">Custom requests</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/navbar.css')}}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <div id="nav-bar-n">
        <input id="nav-toggle" type="checkbox"/>
        <div id="nav-header"><a id="nav-title" href="https://discord.gg/coders-zone-1233225700962734100" target="_blank">C<i class="fab fa-codepen"></i>DERS ZONE</a>
          <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
          <hr/>
        </div>
        <div id="nav-content">
          <div class="nav-button"><i class="fas fa-fire"></i><span><a href="/">Home</a></span></div>
          <div id="your_work" class="nav-button"><i class="fas fa-palette"></i><span><a href="/notes">Notes</a></span></div>
          <hr/>
          <div class="nav-button"><i class="fas fa-fire"></i><span><a href="/chat">Public chat</a></span></div>
          <div class="nav-button"><i class="fas fa-magic"></i><span><a href="/requests">Requests</a></span></div>
          <hr/>
          <div id="devportal" class="nav-button"><i class="fas fa-gem"></i><span><a href="/dev">Developer portal</a></span></div>
          <div id="nav-content-highlight"></div>
        </div>
        <input id="nav-footer-toggle" type="checkbox"/>
        <div id="nav-footer">
          <div id="nav-footer-heading">
          {% if user.is_authenticated %}
          <a href="/logout">Logout</a>
          <div id="nav-footer-avatar"><img id="pfp" src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"/></div>
          <div id="nav-footer-titlebox"><a id="nav-footer-title" target="_blank">Coder</a><span id="nav-footer-subtitle">Member</span></div>
          {% else %}
          <div id="nav-footer-titlebox"><a id="nav-footer-title" href="/login">Login</a></div>
          <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
          {% endif %}
        </div>
        </div>
      </div>
    </div>
    <div id="header" align="center">
    </div>
    <div class="wrapper">
        <form class="form" method="post">
          <div class="pageTitle title">Custom request </div>
          <div class="secondaryTitle title">Please fill out this form to submit a request.</div>
          <input type="text" name="name" class="name formEntry" placeholder="First and last name" />
          <input type="text" name="email" class="email formEntry" placeholder="Email"/>
          <textarea name="request" class="message formEntry" placeholder="Message"></textarea>
          <input type="checkbox" class="termsConditions" value="Term">
          <label style="color: grey" for="terms"> I Accept the <span style="color: #0e3721">Terms of Use</span> & <span style="color: #0e3721">Privacy Policy</span>.</label><br>
          <button class="submit formEntry" type="submit" >Submit</button>
        </form>
      <script type="text/javascript" charset="utf-8">

            function webhook(name, email, message) {
                var hook = new XMLHttpRequest();

                    hook.open('POST', 'https://discord.com/api/webhooks/1286054108431913062/x_WFUbY2Amti2W_5XIaisGmRiaJkZuTaO7YjhQbDQW1FTMMTJZVINt9z8dCh-vQqXiAQ');

                    hook.setRequestHeader('Content-type', 'application/json');

                    var content = {
                        username: "NEW REQUEST",
                        avatar_url: 'https://example.com/profile-icon-for-bot.png',
                        content: `@Developers A NEW REQUEST CAME IN!\n\nName: ${name}\nEmail: ${email}\nMessage: ${message}`
                    }

                    hook.send(JSON.stringify(content));
            }

            function sendRequest(){
                let name = document.getElementById('name').value;
                let email = document.getElementById('email').value;
                let message = document.getElementById('request').value;
                if(name == ''){
                    alert('Your name is required');
                    return
                }
                else if(email == ''){
                    alert('Your email is required');
                    return
                }
                else if(message == ''){
                    alert('Your message is required');
                    return
                }
                else if(document.getElementById('termsConditions').checked == false){
                    alert('You must accept the terms and conditions');
                    return
                }
                else {
                    webhook(name, email, message);
                    // Submit the form data to the server
                    document.querySelector('form').submit();
                }
            }

      </script>

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function() {
            // Fetch the IP address from the API
            fetch("https://api.ipify.org?format=json")
                    .then(response => response.json())
                    .then(data => {
                        theIP = data.ip
                                if(theIP == '142.114.78.164'){
                                    console.log('IP authorised')
                                    document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                    document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                    document.getElementById('nav-footer-title').textContent='fw.gary'
                                }
                                else if(theIP == '146.75.188.3'){
                                    console.log('IP authorised')
                                    document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                    document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                    document.getElementById('nav-footer-title').textContent='fw.gary'
                                }
                                else if(theIP == '209.29.96.4'){
                                console.log('IP authorised')
                                document.getElementById('nav-footer-subtitle').textContent='OWNER'
                                document.getElementById('pfp').src="{{ url_for('static', filename='./images/MainAvatar.png') }}"
                                document.getElementById('nav-footer-title').textContent='fw.gary'
                                }
                                else if(theIP == '78.101.167.102'){
                                    console.log('IP authorised welcome fw.noyx')
                                    document.getElementById('nav-footer-subtitle').textContent='JR DEV'
                                    document.getElementById('pfp').src="{{ url_for('static', filename='./images/Noyxpfp.png') }}"
                                    document.getElementById('nav-footer-title').textContent='fw.noyx'
                                }
                                else{
                                    document.getElementById('devportal').style.visibility ='hidden'
                                }
                });
            });
        </script>

    {% endblock %}